@{
    ViewData["Title"] = "Home Page";
}
<!--Block element-->

<h1 title="My Hello world Title">Hello World! Testing HTML</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    Created by Mirtha Jimenez and improved by Wilfredo, Brayan's installation didn't work
</div>
